<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" href="images/favicon.png" type="image/png"/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/dating-styles.css">

    <!-- Bootstrap Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <title>BikeMatch</title>
</head>

    <body>

    <!-- Top NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BikeMatch</a>
    </nav><br>

        <div class="container">
            <!-- Content -->
            <div class="container">
                <div class="col align-self-center">
                    <!-- Image -->
                    <div class="row justify-content-center">
                            <img src="images/route-66.jpg" class="rounded" alt="logo">
                    </div><!-- Image Row -->
                    <br>

                    <div class="row justify-content-center">
                            <div class="container text-center">
                                <h3>BikeMatch</h3>
                                <p>Here at BikeMatch we find your perfect riding buddy through
                                    our tried and true methods. Find the perfect companion to
                                    keep you on two wheels...</p>
                                <br><hr>
                                <h5>What they say...</h5><br>
                                <p><i>"Best dating site ever..." - @BarackObama</i></p>
                                <p><i>"The most fun I've ever had with my clothes on." -Guy</i></p>
                                <p><i>"The schnozberries taste like schnozberries." -Broken Lizard</i></p>
                                <p><i>"Even the trees walked in those movies..." -Randall</i></p>
                            </div><!-- Close comments -->
                    </div><!-- Comments Row -->
                    <hr><br><br>

                    <div class="row justify-content-center">
                        <div class="col-align-self-center">
                            <!-- create profile button -->
                            <a href="personal-information" class="btn btn-secondary">Create a Profile</a>
                        </div>
                    </div><!-- Profile button -->
                    <br>
                </div>
            </div><!-- Main content div -->
            <br><br><hr>

            <!-- Footer -->
            <div class="container-fluid" id="footer01">
                <div class="col-align-self-center">
                    <div class="row justify-content-center">
                        <!-- found on mdbootstrap.com -->
                        <footer class="page-footer font-small blue">
                            <!-- Copyright -->
                            <div id="footer02" class="footer-copyright text-center py-3">© 2020 Copyright:
                                <a id="myURL" href="#">aharris.greenriverdev.com</a>
                            </div>
                        </footer>
                    </div><!-- Footer row 1-->
                    <div class="row justify-content-center">
                        <div class="justify-content center">
                            <!-- Linkedin -->
                            <a href="https://www.linkedin.com/in/andrew-harris-sde/"
                               class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in grey-text"></i></a>
                            <!-- GitHub -->
                            <a href="https://github.com/aharris52"
                               class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-github grey-text"></i></a>
                        </div>
                    </div><!-- Footer row 2-->
                </div><!-- Footer column -->
            </div><!-- Footer container -->
        </div><!-- Body container -->

        <!-- fontAwesome link-->
        <script src="https://kit.fontawesome.com/b3af656e9f.js" crossorigin="anonymous"></script>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

    </body>
</html>