<!DOCTYPE html>
<html lang="en">
<head>
    <include href="includes/header.htm"></include>
</head>
    <body>

    <!-- Top NavBar -->
    <include href="includes/nav-bar.htm"></include>
        <div class="container">
            <!-- Content -->
            <div class="container">
                <div class="col align-self-center">
                    <!-- Image -->
                    <div class="row justify-content-center">
                            <img src="images/route-66.jpg" class="rounded" alt="logo">
                    </div><!-- Image Row -->
                    <br>

                    <div class="row justify-content-center">
                            <div class="container text-center">
                                <h3>BikeMatch</h3>
                                <p>Here at BikeMatch we find your perfect riding buddy through
                                    our tried and true methods. Find the perfect companion to
                                    keep you on two wheels...</p>
                                <br><hr>
                                <h5>What they say...</h5><br>
                                <p><i class="comment">"Best dating site ever..." - @BarackObama</i></p>
                                <p><i class="comment">"The most fun I've ever had with my clothes on." -Guy</i></p>
                                <p><i class="comment">"The schnozberries taste like schnozberries." -Broken Lizard</i></p>
                                <p><i class="comment">"Even the trees walked in those movies..." -Randall</i></p>
                            </div><!-- Close comments -->
                    </div><!-- Comments Row -->
                    <hr><br><br>

                    <div class="row justify-content-center">
                        <div class="col-align-self-center">
                            <!-- create profile button -->
                            <a href="personal-information" class="btn btn-secondary">Create a Profile</a>
                        </div>
                    </div><!-- Profile button -->
                    <br>
                </div>
            </div><!-- Main content div -->
            <br><br><hr>
            <include href="includes/footer.htm"></include>
        </div><!-- Body container -->
    </body>
</html>