<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" href="images/favicon.png" type="image/png"/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/dating-styles.css">

    <!-- Bootstrap Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <title>BikeMatch</title>
</head>

<body>

    <!-- Top NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BikeMatch</a>
    </nav><br>

    <div class="container">

        <h2>Personal Information</h2>
        <hr><br>

        <form id="personal" method="post" action="#">
            <!-- Name Info -->
            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label"><strong>First Name</strong></label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           id="firstName"
                           name="firstName"
                           value="{{ @first }}">
                </div>
                <!-- Error message -->
                <span class="err">
                <check if="{{ isset(@errors['first']) }}">
                    {{ @errors['first'] }}
                </check>
            </span><br>


            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label"><strong>Last Name</strong></label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           id="lastName"
                           name="lastName"
                           value="{{ @last }}">
                </div>
                <!-- Error message -->
                <span class="err">
                    <check if="{{ isset(@errors['last']) }}">
                        {{ @errors['last'] }}
                    </check>
                </span><br>
            </div>
            <!-- Close Name Info -->

            <!-- Age -->
            <div class="form-group row">
                <label for="age" class="col-sm-2 col-form-label"><strong>Age</strong></label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           id="age"
                           name="age"
                           value="{{ @age }}">
                </div>
                <!-- Error message -->
                <span class="err">
                    <check if="{{ isset(@errors['age']) }}">
                        {{ @errors['age'] }}
                    </check>
                </span><br>
            </div>
            <!-- Close Age -->

            <!-- Gender -->
            <div class="form-group row">
                <!-- test -->
                <label class="col-sm-2 col-form-label"><strong>Gender</strong></label>
                <div class="col-sm-8">
                    <!--{{ print_r(@gender) }}-->
                    <repeat group="{{ @gender }}" value="{{ @gendr }}">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"
                                   name="gender"
                                   id="{{ @gendr }}"
                                   type="radio"
                                   value="{{ @gendr }}" <check if="{{ @gender == @gendr }}">checked="checked"</check>>
                            <label class="form-check-label" for="{{ @gendr }}">{{ @gendr }}</label>
                        </div>
                    </repeat>
                </div>
                <!-- Error message -->
                <span class="err">
                    <check if="{{ isset(@errors['gender']) }}">
                        {{ @errors['gender'] }}
                    </check>
                </span><br>
            </div><!-- Close gender -->

            <!-- Phone Number -->
            <div class="form-group row">
                <label for="age"
                       class="col-sm-2 col-form-label"><strong>Phone Number</strong></label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               id="phone"
                               name="phone">
                    </div>
                <!-- Error message -->
                <span class="err">
                    <check if="{{ isset(@errors['phone']) }}">
                        {{ @errors['phone'] }}
                    </check>
                </span><br>
            </div>
            <br>
            <!-- Close Phone Number -->

            <div class="form-group row">
                <!-- Button -->
                <div class="col-sm-8 justify-content around">
                    <button type="submit" class="btn btn-secondary">Next</button>
                </div>

                <div class="col-sm-4 justify-content around">
                <span id="privacy" class="border border-secondary">
                    <p><strong>Note:</strong> All information entered is protected by our privacy policy.
                    Profile information can only be viewed by others with your permission.
                    </p>
                </span>
                </div>
            </div><!-- close bottom row -->
            <br>
            <hr>
        </form>
    </div>

    <!-- Footer -->
    <div class="container">
        <div class="col-align-self-center">
            <div class="row justify-content-center">
                <!-- found on mdbootstrap.com -->
                <footer class="page-footer font-small blue">
                    <!-- Copyright -->
                    <div id="footer" class="footer-copyright text-center py-3">© 2020 Copyright:
                        <a id="myURL" href="#">aharris.greenriverdev.com</a>
                    </div>
                </footer>
            </div><!-- Footer row 1-->
            <div class="row justify-content-center">
                <div class="justify-content center">
                    <!-- Linkedin -->
                    <a href="https://www.linkedin.com/in/andrew-harris-sde/"
                       target="_blank"
                       class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in grey-text"></i></a>
                    <!-- GitHub -->
                    <a href="https://github.com/aharris52"
                       target="_blank"
                       class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-github grey-text"></i></a>
                </div>
            </div><!-- Footer row 2-->
        </div><!-- Footer column -->
    </div><!-- Footer container -->

    <!-- fontAwesome link-->
    <script src="https://kit.fontawesome.com/b3af656e9f.js" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    </body>

</html>