<!DOCTYPE html>
<html lang="en">
<head>
    <title>BikeMatch</title>
    <include href="includes/header.htm"></include>
</head>

<body>

    <!-- Top NavBar -->
    <include href="includes/nav-bar.htm"></include>

    <div class="container">
        <h2>Profile</h2>
        <hr><br>

        <form id="profile" action="#" method="post">
            <!-- Email info -->
            <div class="form-group col-lg-6">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email"><strong>Email</strong></label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               name="email"
                               value="{{ @email }}"
                               placeholder="Email">
                    </div>
                    <!-- Error message -->
                    <span class="err">
                    <check if="{{ isset(@errors['email']) }}">
                        {{ @errors['email'] }}
                    </check>
                </span><br>
                </div>
                <!-- Close Email info -->

                <!-- State -->
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="state"><strong>State</strong></label><br>
                        <select class="custom-select"
                                id="state"
                                name="state">
                            <repeat group="{{ @state }}" value="{{ @place }}">
                                <option value="{{ @place }}" name="state">
                                <check if="{{ @place == @selected }}">selected="selected"</check>>{{ @place }}</option>
                            </repeat>
                        </select>
                    </div>
                    <!-- Error message -->
                    <span class="error">
                    <check if="{{ isset(@errors['seeking']) }}">
                        {{ @errors['seeking'] }}
                    </check>
                </span><br>
                </div>
                <!-- State -->

                <!-- Gender -->
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><strong>Seeking</strong></label>
                    <div class="col-sm-2">
                        <div class="radio-inline">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="gender"
                                   id="male"
                                   value="male">
                            <label class="radio-inline" for="male">
                                Male
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="radio-inline">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="gender"
                                   id="female"
                                   value="female">
                            <label class="radio-inline" for="female">
                                Female
                            </label>
                        </div>
                    </div>
                    <!-- Error message -->
                    <span class="err">
                    <check if="{{ isset(@errors['gender']) }}">
                        {{ @errors['gender'] }}
                    </check>
                </span><br>
                </div><!-- Close gender -->
                <!-- Seeking -->
                <!--<div class="form-group row">
                    &lt;!&ndash; test &ndash;&gt;
                    <label class="col-sm-2 col-form-label"><strong>Seeking</strong></label>
                    <div class="col-sm-8">
                        &lt;!&ndash;{{ print_r(@gender) }}&ndash;&gt;
                        <repeat group="{{ @seeking }}" value="{{ @seek }}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input"
                                       name="seeking"
                                       id="{{ @seek }}"
                                       type="radio"
                                       value="{{ @seek }}"
                                <check if="{{ @seeks == @seek }}">checked="checked"</check>>
                                <label class="form-check-label" for="{{ @seek }}">{{ @seek }}</label>
                            </div>
                        </repeat>
                    </div>
                </div>&lt;!&ndash; Close seeking &ndash;&gt;-->

                <div class="form-row">
                    <label for="bio" class="col-mx-6 control-label"><strong>Biography</strong></label>
                    <div class="col-mx-6">
                        <textarea  class="form-control"
                                   id="bio"
                                   name="bio"
                                   rows="6" cols="50"></textarea>
                    </div>
                </div><!-- Bio row -->
            </div>

            <!-- Button -->
            <div class="col-sm-8">
                <button type="submit" class="btn btn-secondary">Next</button>
            </div>
            <br><hr>
        </form>
        <br>
    </div>
    <!-- Footer -->
    <include href="includes/footer.htm"></include>
    </body>
</html>
