#privacy {
    background-color: gainsboro;
}

.err {
    color: darkred;
}

a {
    color: lightslategrey;
}

i {
    color: lightslategrey;
}

.comment {
    color: black;
}

#myURL {
    color: lightslategrey;
}